#header {
	width: 780px;
	float: none;
	height: 200px;
}
#top {
	width: 950px;
}
#top img {
	float: left;
}
#center {
	clear: both;
	width: 780px;
	padding-right: 20px;
}
#footer {
	width: 780px;
	clear: both;
	color: #FFFFFF;
	background-color: #333333;
}
#menu {
	clear: both;
	float: left;
}

#main a {
	color: #FFFF00;
	text-decoration: none;
}
#sp {
	height: 200px;
	width: 100px;
	float: left;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
	padding-left: 15px;
	margin-right: 15px;
}
#sp img {
	height: 159px;
	width: 106px;
}
.center {
	float: none;
	width: 755px;
	margin-left: 0px;
	background-color: #000000;
	padding-left: 25px;
}
#all {
	float: none;
	width: 780px;
	left: auto;
	right: auto;
}
#main #new_nam {
	float: left;
}
.divNew {
	float: none;
	height: 450px;
	width: 300px;
	display: run-in;
	visibility: visible;
}
body {
	float: none;
	background-image: url(../a%C3%8C%C2%81o%20thun%20images/bg1.png);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	
}
#all {
	float: none;
	margin-right: auto;
	margin-left: auto;
}
#all #menu a {
	color: #00FF00;
	text-decoration: none;
}
#all #menu a:hover {
	color: #FF0000;
	text-decoration: none;
}
#detail img {
	margin-left: 75px;
	margin-right: auto;
	height: 500px;
	width: 350px;
	margin-top: 20px;
}
#detail {
	background-color: #000000;
	width: 500px;
}
#border {
	width: 760px;
	margin-left: 0px;
	height: 800px;
	background-image: url(../a%C3%8C%C2%81o%20thun%20images/clouds-young-sky-background.jpg);
	padding-left: 20px;
}
#detail .style1 {
	color: #FFFFFF;
}
.textunclear {
	color: #999999;
}
.search {
	color: #CCCCCC;
	text-decoration: none;
	float: right;
}
#detail #ykien {
	color: #FFFFFF;
	text-decoration: none;
}
